/* Local fonts stylesheet
   Place the downloaded WOFF2 files under assets/fonts/ using the exact filenames below.
   After adding the binary files, the pages will load fonts locally with zero external requests.
*/

/* Roboto Regular 400 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Medium 500 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Roboto Bold 700 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Mukta (200-800) */
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Abel (used for headings) */
@font-face {
  font-family: 'Abel';
  src: url('../fonts/Abel-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Fallback stack */
:root {
  --site-font: 'Roboto', 'Mukta', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --heading-font: 'Abel', 'Mukta', sans-serif;
}

body, button, input, textarea {
  font-family: var(--site-font);
}
h1,h2,h3,h4,h5,h6 { font-family: var(--heading-font); }